# Flutter / Dart
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/pubspec.lock.bak
**/generated_plugin_registrant.dart

# iOS
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/ios/Flutter/App.framework
app/ios/Flutter/ephemeral/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
app/android/.gradle/
app/android/local.properties
app/android/app/debug/
app/android/app/profile/
app/android/app/release/
app/android/.kotlin/

# Web
app/web/build/

# Outils
.idea/
*.iml
.DS_Store
*.log

# Secrets — jamais commités
.env
.env.*
!.env.example
